<router-outlet></router-outlet>
<button mat-raised-button (click)="openDialog()">Adicionar</button>
<div class="table">
  <table *ngIf="client; else loading">
    <thead>
      <tr>
        <th>Actions</th>
        <th>ID</th>
        <th>NOMES</th>
        <th>EMAIL</th>
        <th>CELULAR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of client">
        <td>
          <a routerLink="components/client-delete/{{ item.id }}">Delete</a>
          <a routerLink="components/client-update/{{item.id}}">Update</a>
        </td>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.telephone }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
