<div class="backgroud">
  <h1>Tem certeza que deseja remover o usuário?</h1>
    <div class="label">
      <label>
        ID:
        <input placeholder="ID" [(ngModel)]="request.id" />
      </label>
      <label>
        Name:
        <input placeholder="Name" [(ngModel)]="request.name" />
      </label>
      <label>
        Email:
        <input placeholder="Email" [(ngModel)]="request.email" />
      </label>
      <label>
        Telephone:
        <input placeholder="Telephone" [(ngModel)]="request.telephone" />
      </label>
    </div>
  
    <div class="btn">
      <button mat-raised-button color="warn" routerLink="components/client-delete/{{id}}" (click)="delete()">
      Deletar
      </button>
      <button mat-stroked-button routerLink="/">Cancelar</button>
  
    </div>
  </div>
  